/* 导入 Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* 头部样式 */
header {
    background-color: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 20px;
    font-size: 1.2em;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* 主要内容样式 */
main {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #35424a;
    padding-bottom: 10px;
    color: #35424a;
}

section ul {
    list-style: disc inside;
}

section a {
    color: #35424a;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

/* 页脚样式 */
footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
